<html>
<body>
<div id="greetings-block">

    <h1 style="color: red;" data-th-each="greeting : ${ greetings }">
        [[ ${greeting.message} ]]
    </h1>

</div>


<script>
    window.addEventListener('load', function (e) {
        var name = window.prompt('who should we greet? ');
        var div = document.getElementById('greetings-block');
        var es = new EventSource('http://localhost:8080/greetings-updates.do?name=' + name)
        es.addEventListener('message', function (message) {
            div.innerHTML = message.data;
        })

    })
</script>

</body>
</html>